bot:
  # Bot Token
  token: 1234:1234567890abcdef
  # 发送至群
  groupId: 0
crisp:
  # 插件 ID
  id:
  # 插件秘钥
  key:
  # 网站 ID
  website:
easyimages:
  apiUrl: "http://127.0.0.1/api/index.php"
  apiToken: "token"
autoreply:
  # 自动关键词回复，你可以复制成多行，每个关键词用 `|` 隔开即可，在 `:` 后输入自动回复内容
  "在吗|你好": "欢迎使用客服系统，请等待客服回复你~"
openai:
  # APIKey
  apiKey: 
  # 预制内容，内容越多token消耗越多，单价越贵
  payload: |
    作为简体中文客服，请始终以温柔、耐心的态度回复所有消息，确保每次交互中用户感受到尊重和理解。
    请仅使用纯文本回复，不得使用其他语言或格式化语法。
    积极倾听用户的问题，耐心询问细节，并提供清晰、详细的回答或指导。
    优先参考提供的内容，以提供准确解答；若知识库无相关信息，再深入思考找到适合的回答。
    在每次互动中，确保为用户提供友好、积极的支持体验。