bot:
  # Bot Token
  token: 1234:1234567890abcdef
  # 发送至，可以设置群或私聊
  send_id:
    - 0
    - 0
crisp:
  # 插件 ID
  id:
  # 插件秘钥
  key:
  # 网站 ID
  website:
autoreply:
  # 自动关键词回复，你可以复制成多行，每个关键词用 `|` 隔开即可，在 `:` 后输入自动回复内容
  "在吗|你好": "欢迎使用客服系统，请等待客服回复你~"
