name: crisp-telegram-bot

services:
  bot:
    image: moefaq/crisp-telegram-bot
    restart: always
    environment:
      TZ: Asia/Shanghai
      BOT_TOKEN: 12345:abcdefghijklm
      BOT_GROUPID: -123456
      CRISP_ID: aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
      CRISP_KEY: aaaaaaaaaaaaaa11111111aaaaaaaaaaaaaaaaaa
      CRISP_WEBSITE: bbbbbbbb-bbbbb-bbbb-bbbb-bbbbbbbbbbbb
    networks:
      - network

networks:
  network: