name: crisp-telegram-bot

services:
  bot:
    image: moefaq/crisp-telegram-bot
    restart: always
    environment:
      TZ: Asia/Shanghai
      BOT_TOKEN: 12345:abcdefghijklm
      BOT_GROUPID: -123456
      EasyImages_apiUrl: "http://127.0.0.1/api/index.php"
      EasyImages_apiToken: "token"
      CRISP_ID: aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
      CRISP_KEY: aaaaaaaaaaaaaa11111111aaaaaaaaaaaaaaaaaa
      CRISP_WEBSITE: bbbbbbbb-bbbbb-bbbb-bbbb-bbbbbbbbbbbb
      AUTOREPLY: |
        \0  '在吗|你好' : '欢迎使用客服系统，请等待客服回复你~'
        \0  '关键字1|关键字2' : '自动应答语A'
      OPENAI_APIKEY: 
      OPENAI_PAYLOAD: |
        \0    作为简体中文客服，请始终以温柔、耐心的态度回复所有消息，确保每次交互中用户感受到尊重和理解。
        \0    请仅使用纯文本回复，不得使用其他语言或格式化语法。
        \0    积极倾听用户的问题，耐心询问细节，并提供清晰、详细的回答或指导。
        \0    优先参考提供的内容，以提供准确解答；若知识库无相关信息，再深入思考找到适合的回答。
        \0    在每次互动中，确保为用户提供友好、积极的支持体验。
    networks:
      - network

networks:
  network: